In [ ]:
Data Analysis using Python -- Pandas
#Import

In [2]:
import pandas as pd #pd will act as shorthand or alias for library name
#We will access all the pandas methods by using this alias followed by . operator

In [ ]:
1. pandas is an open-source python library which provides high performance, easy to use data structures
and data analysis tools for the python programming language
2.Data Manipution,cleansing,merging,splitting all can be done by using pandas.
3. To read and write different types of file formats -- csv,excel,json,txt,mysql,mongodb

In [3]:
#Tocheck the version
print(pd.__version__)

0.24.2

In [ ]:
Pandas DataStructures:
    #Pandas data structures are labeled or they provide us output by labelling it
    Series: A series is a one-dimensional object similar to array,list or column in a table.
          It will assign a labelled index to each item in the series.
    DataFrame:

In [4]:
names = ["satish","BP bro","Deep","Shubhagi"]

In [5]:
names

['satish', 'BP bro', 'Deep', 'Shubhagi']

In [11]:
#To make a Series in pandas.
name = pd.Series(names,index = ["a","b","c",103])

In [12]:
name

a        satish
b        BP bro
c          Deep
103    Shubhagi
dtype: object

In [10]:
type(name)

pandas.core.series.Series

In [13]:
#Dictionary
d = { "chicago" : 1000,"Newyork": 2000,"Boston":3000,"Austin":4000}

In [14]:
s1 = pd.Series(d)

In [15]:
s1

chicago    1000
Newyork    2000
Boston     3000
Austin     4000
dtype: int64

In [16]:
s1["chicago"]

1000

In [17]:
s1["Noida"]

KeyError: 'Noida'

In [18]:
s1.index

Index(['chicago', 'Newyork', 'Boston', 'Austin'], dtype='object')

In [19]:
s1

chicago    1000
Newyork    2000
Boston     3000
Austin     4000
dtype: int64

In [20]:
#To change a value of a particular index.
s1["chicago"] = 1400

In [25]:
s1["101"]  = 1200

In [26]:
s1

chicago    1400
Newyork    2000
Boston     3000
Austin     4000
Noida      1200
101        1200
dtype: int64

In [27]:
s1[3]

4000

In [28]:
s1<1500

chicago     True
Newyork    False
Boston     False
Austin     False
Noida       True
101         True
dtype: bool

In [ ]:
series_name[Condtion] = value

In [31]:
s1[s1<1500] = 700

In [32]:
s1

chicago     700
Newyork    2000
Boston     3000
Austin     4000
Noida       700
101         700
dtype: int64

In [33]:
s1[1:5]#upper bound remains excluded.

Newyork    2000
Boston     3000
Austin     4000
Noida       700
dtype: int64

In [30]:
s1/3

chicago     466.666667
Newyork     666.666667
Boston     1000.000000
Austin     1333.333333
Noida       400.000000
101         400.000000
dtype: float64

In [29]:
s1.isna() # it is used to check null values.

chicago    False
Newyork    False
Boston     False
Austin     False
Noida      False
101        False
dtype: bool

In [ ]:
#series ko label krne k lie kon sa parameter use hota h?
Index parameter.